
body {

  font-family: verdana,arial,geneva;
  background-color: black;
  border:10px; 
  border-style:solid; 
  border-color:white;
}
 nav ul.menuB li {
  display:inline;
  font-size: 1.5vw; 
  padding-left:1vw;
  padding-right:1vw;
  padding-top:5vw;
  padding-bottom:10vw;
}

 nav ul.menuB{
     background-color: lightgrey;
     padding-left:1vw;
     padding-right:1vw;
     padding-top:2.5vw;
     padding-bottom:2.5vw;
 }
 
 

a:hover {
  color: black;
}

h1 {
  color: black;
  text-align: center;
  font-size: 55px;
  padding: 3vw;
  background-color: lightblue;
}

h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 3vw;
  text-decoration: underline white;
  
}
h3 {
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: underline white;
  
  
}
p {
  color: white;
  font-size: 25px;
  padding-left:1vw;
  padding-right:1vw;
}
img{
    max-width: 800px;
    width: 40%;
}

